# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.zip

lambda_python/package
lambda_python/deployment.zip
lambda_python/__pycache__/